
table, td, th {
    border: 2px solid black;
    width: 100%;
 }
 .container{
     display: flexbox;
     text-align: center;
     background: rgb(198, 204, 216);
     width: 100;
     font-display: 15px;
 }
 h1{
     text-align: center;
     color: red;
 }